@model IEnumerable<MVCECommerceProject.MODEL.Entities.Product>
@{
    ViewBag.Title = "Tüm Ürünlerim";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title - @TempData["User"] Hoşgeldiniz</h6>
    </div>
    <div class="card-body">
        <div class="d-sm-flex align-items-center m-lg-auto">
            @foreach (var item in Model)
            {
                <div class="card shadow mb-2">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCardExample-@item.ProductName" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">@item.ProductName</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="collapseCardExample-@item.ProductName">
                        <div class="card-body">
                            <img class="img-lm-mycss"
                                 src="@item.ImagePath">

                            <br />
                            <p>
                                @Html.ActionLink("Kategori: " + item.SubCategory.Category.Name, "FindCategoryProducts", "Product", new { id = item.SubCategory.CategoryID }, new { @class = "" })
                            </p>
                            <p>
                                @Html.ActionLink("Alt Kategori: " + item.SubCategory.Name, "FindSubCategoryProducts", "Product", new { id = item.SubCategory.ID }, new { @class = "" })
                            </p>
                            <p>
                                @Html.ActionLink("Satıcı: " + item.Seller.Name + " " + item.Seller.SurName, "FindSellerProducts", "Product", new { id = item.SellerID }, new { @class = "" })
                            </p>

                            @Html.ActionLink("Sepete Ekle", "SepeteEkle", "Buy", new { id = item.ID }, new { @class = "btn btn-lg btn-block btn-success" })
                            @Html.ActionLink("Hemen Satın Al", "Index", "Buy", new { id = item.ID }, new { @class = "btn btn-lg btn-block btn-success" })
                        </div>
                    </div>
                </div>
                <div>
                    <br />
                </div>
            }
        </div>
    </div>
</div>