@model MVCECommerceProject.MODEL.Entities.Category
@{
    ViewBag.Title = "Düzenle";
    Layout = "~/Areas/Manegement/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Model.Name - @ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "form-signin", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Görsel Seç</label>
                    <div>
                        <img src="@Model.ImagePath" class="img-sm-mycss" />
                        <br />
                    </div>
                    <input type="file" class="form-control" name="ImagePath" />
                    @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
                </div>

                @Html.HiddenFor(model => model.CreatedDate)
                @Html.HiddenFor(model => model.CreatedComputerName)
                @Html.HiddenFor(model => model.CreatedIP)
                @Html.HiddenFor(model => model.CreatedADUsername)
                @Html.HiddenFor(model => model.CreatedBy)

                <div class="form-group">
                    <div class="col-md-offset-2">
                        <input type="submit" value="Kaydet" class="btn btn-lg btn-block btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Kategori Listesine Geri Dön", "Index")
</div>